# Upstash Redis (Single vendor storage for push subscriptions & session tokens)
UPSTASH_REDIS_REST_URL="https://..."
UPSTASH_REDIS_REST_TOKEN="..."

# Upstash QStash (Single vendor scheduler for delayed phase change webhooks)
QSTASH_TOKEN="..."
QSTASH_CURRENT_SIGNING_KEY="..."
QSTASH_NEXT_SIGNING_KEY="..."

# Web Push VAPID Credentials
VAPID_PUBLIC_KEY="BPgIc4nqOLEU8csBu0p0iXw1vHmeRZViEbo2rydUe7KGYpZSbmuZp7cfXse162OqngKCd_I_gG5dEMaxbicKuso"
VAPID_PRIVATE_KEY="41worHOwumSs34dSik8ektL0foeDYCqJ5-JjM8zOR_s"
VAPID_SUBJECT="mailto:admin@smwr.org"
